# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
#	name = knakajima3027
#	email = kamihate1012@gmail.com
[alias]
	tree = log --graph --all --format=\"%x09%C(cyan bold)%an%Creset%x09%C(yellow)%h%Creset %C(magenta reverse)%d%Creset %s\"
